# npm
backend/node_modules
backend/package-lock.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
frontend/node_modules
frontend/package-lock.json
.env

server.cert
server.key